$primary: rgb(255, 164, 136);
$secondary: rgb(245, 124, 88);
$largerText: 'Reggae One', cursive;
$smallerText: 'Roboto', sans-serif;


body{
    margin: 0;
    padding: 0;
}

#root{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";

    header{
        grid-area: header;
        
        display: grid;
        grid-template-areas: 
            "logo login"
            "search  search"
            "cat cat";
        grid-template-columns: 1fr auto;
        row-gap: 10px;
        padding: 15px;
        background-color: $primary;        

        //Alla header inputs
        input{
            font-family: $largerText;
            height: 50px;
            font-size: 1.5em;
            border: none;
            background-color: white;                
        }

        //Hover logga in, sök
        input[type="submit"]:hover{
            background-color: $secondary;
        }

        //Håller logo
        section{   
            grid-area: logo;
            
            width: 100px;
            margin: auto;
            
            //Logo
            a>img{                
                width: 100px;            
            }
        }

        //Logga in knapp
        form:first-of-type{
            grid-area: login;

            text-align: center;
            line-height: 94.5px;
        }

        //Sök form
        form:last-of-type{
            grid-area: search;

            display: grid;
            grid-template-columns: 1fr auto;
            gap: 10px;
            text-align: center;


            //Sökfält
            input[type="text"]{                
                width: 100%;
                box-sizing: border-box;                
                font-family: $smallerText;
                padding-left: 10px;
                font-size: 1.2em;
                padding-top: 0;
                padding-bottom: 0;
            
            }
        }

        //Kategorier
        ul{
            grid-area: cat;

            padding: 0;
            list-style-type: none;
            font-family: $largerText;
            
            //Alla länkade element
            a{
                text-decoration: none;

                //Gömmer första klickbara element
                li{
                    display: none;
                }
            }
            
            //Alla li element
            li{
                box-sizing: border-box;
                padding-left: 0;
                color: black;
                text-align: center;
                background-color: white;
                height: 50px;
                line-height: 50px;
                margin: 0;
            }
            
            //Gömmer alla föutom första 
            li + li {
                display: none;
            }
        }
        
        //Visar alla klickbara element
        ul:active li, ul:hover li{
            display: block;
            border-bottom: 1px solid black;
        }
    }

    main{
        grid-area: main;

        display: grid;
        grid-template-areas: 
            "new"
            "pop";
        row-gap: 10px;
        padding: 10px;

        //Rubrik
        h2{
            grid-area: title;

            color: white;
            line-height: 50px;
            height: 55px;
            padding-left: 10px;
            border-radius: 5px;
            font-family: $largerText;
            background-color: $primary;
        }

        //Håller rubrik + recept
        article{
            display: grid;
            grid-template-areas:
                "title title "
                "recipe recipe";
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
            column-gap: 10px;
        }

        //Recept
        section{
            width: 100%;
            border-radius: 10px;
            position: relative;

            //Recept namn
            h3{
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                margin: 0;
                width: 100%;
                color: white;
                line-height: 50px;
                height: 55px;
                padding-left: 10px;
                border-radius: 5px;
                font-family: $largerText;
                background-color: $primary;
            }

            //Recept bilder
            img{
                width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }

        //Se alla recept knapp
        input{
            box-sizing: border-box;
            width: 100%;
            height: 50px;
            font-family: $largerText;
            background-color: white;
            border: none;
            color: black;
            font-size: 1.2em;
            border: 1px solid black;        
            margin-top: 20px;    
        }
    }

    footer{
        grid-area: footer;

        background-color: $primary;
        text-align: center;
        padding: 0.6em 0;

        //Kontakt
        h2{
            color: white;
            font-family: $largerText;
        }

        //Mail telefon
        h3{
            color: white;
            font-family: $smallerText;
        }
    }

    //Logga in sida. Även Skapa konto sidan 
    #login{
        //Ta bort grid
        header{
            display: block;
        }

        //Logga in formulär
        form{
            legend{
                font-family: $largerText;
            }
            
            label{
                font-family: $smallerText;
            }

            input[type=text], input[type=password]{
                font-family: $smallerText;
                padding-left: 10px;
            }
        }

        //Footer fast på nedre kant
        footer{
            width: 100%;
            position: fixed;
            bottom: 0;
        }
    }

    #recipe{
        main{
            display: grid;
            grid-template-areas: 
                "name likes"
                "image image"
                "ingtitle ingtitle"
                "ingredients ingredients"
                "steptitle steptitle"
                "steps steps";
            grid-template-columns: 1fr auto;
            row-gap: 0;

            //Recept namn
            h1{
                grid-area: name;

                margin: 0;
                font-size: 1.7em;
                font-family: $largerText;
            }

            //Likes & hjärt ikon
            section{
                grid-area: likes;

                display: grid;
                grid-template-areas: 
                    "amount heart";
                grid-template-columns: 1fr auto;
                border: none;
                height: 55px;
                width: 100%;
                padding: 0;
                border-radius: 5px;
                background-color: $primary;

                //Likes
                h3{
                    grid-area: amount;

                    background-color: initial;
                    margin: 0;
                    position: initial;
                }
                
                //Hjärta
                img{
                    grid-area: heart;

                    margin: auto;
                    width: 55px;
                    height: 55px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }

            //Bild på maten
            img{
                grid-area: image;

                width: 100%;
                max-width: 500px;
                height: auto;
                border-radius: 10px;
                margin-top: 15px;
            }

            //Ingredienser
            h2:first-of-type{
                grid-area: ingtitle;

                font-family: $largerText;
            }

            //Steg
            h2:last-of-type{
                grid-area: steptitle;

                font-family: $largerText;
            }

            //ingredienser i receptet
            ul{
                grid-area: ingredients;

                font-family: $smallerText;
            }

            //Stegen i receptet
            ol{
                grid-area: steps;

                font-family: $smallerText;
            }
        }
    }

    #create{
        main{
            //Titel
            h1{
                box-sizing: border-box;
                bottom: 0;
                margin: 0;
                width: 100%;
                color: white;
                line-height: 50px;
                height: 55px;
                padding-left: 10px;
                border-radius: 5px;
                font-family: $largerText;
                background-color: $primary;
            }

            form{
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 10px;

                label{
                    font-family: $smallerText;
                    font-size: 1.2em;
                }
    
                input[type=text]{
                    margin: 0;
                    font-family: $smallerText;
                }
    
                textarea{
                    resize: none;
                    width: 100%;
                    box-sizing: border-box;
                    border: 1px solid black;
                    font-family: $smallerText;
                    font-size: 1.2em;
                }

                select{
                    width: 50px;
                    font-family: $smallerText;
                    font-size: 1em;
                    margin-left: 15px;
                }

                input[type=file]{
                    font-family: $smallerText;
                    border: none;
                    margin: 0;
                }

                section{
                    display: grid;
                    grid-template-columns: 8fr 2fr;
                    column-gap: 20px;
                    row-gap: 10px;
                }

                //Mängd label
                span:first-of-type{
                    label:last-of-type{
                        float: right;

                    }
                }
            }
        }
    }
}